<div class="container">
  <h1>Panel Principal</h1>

  <details>
    <summary>Dashboard Secretario General</summary>
  </details>

  <details>
    <summary>Dashboard Finanzas</summary>
  </details>

  <details>
    <summary>Dashboard Organización</summary>
  </details>

  <div class="text-center">
    <%= button_to "Cerrar sesión", logout_path, method: :delete %>
  </div>
</div>