<% content_for :title, "Nueva cooperación" %>
<% content_for :page_title, "Nueva cooperación" %>

<section class="catalogo-page">
  <div class="panel">
    <div class="panel__header">
      <div>
        <h3>Registrar corrida de cooperación</h3>
        <p class="panel__description">
          Define los datos generales, conceptos y trabajadores condonados.
        </p>
      </div>

      <%= link_to "Volver", cooperaciones_path, class: "button button--ghost" %>
    </div>

    <%= render "form", cooperacion: @cooperacion %>
  </div>
</section>