<% content_for :title, "Editar cuenta financiera" %>
<% content_for :page_title, "Editar cuenta financiera" %>

<section class="catalogo-page">
  <div class="panel">
    <div class="panel__header">
      <div>
        <h3>Editar cuenta financiera</h3>
        <p class="panel__description">
          Actualiza los datos de la cuenta y del responsable que aparecerá en los documentos.
        </p>
      </div>

      <%= link_to "Volver",
                  cuenta_financieras_path,
                  class: "button button--ghost" %>
    </div>

    <%= render "form", cuenta_financiera: @cuenta_financiera %>
  </div>
</section>