<h1>Menú Principal</h1>

<ul>
  <li>Dashboard Secretario General</li>
  <li>Dashboard Finanzas</li>
  <li>Dashboard Organización</li>
</ul>

<%= button_to "Cerrar sesión", logout_path, method: :delete %>