<% content_for :title, "Editar categoría" %>
<% content_for :page_title, "Editar categoría" %>

<section class="catalogo-page">
  <div class="panel">
    <div class="panel__header">
      <h3>Editar categoría</h3>
      <%= link_to "Volver", concepto07_niveles_path, class: "button button--ghost" %>
    </div>

    <%= render "form", concepto07_nivel: @concepto07_nivel %>
  </div>
</section>