<% content_for :title, "Editar usuario" %>
<% content_for :page_title, "Editar usuario" %>

<section class="usuarios-page">
  <div class="panel">
    <div class="panel__header">
      <h3>Editar usuario del sistema</h3>
      <%= link_to "Volver", usuarios_path, class: "button button--ghost" %>
    </div>

    <%= render "form", usuario: @usuario %>
  </div>
</section>